<a href="https://colab.research.google.com/github/varsha-kotegar/Machine-Learning-Course/blob/main/List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of Objects in Python
1. Immutable Objects
2. Mutable Objects - Can be changed

Immutable Objects:
1. Int
2. float
3. String
4. bool
5. tuple

Mutable Objects
1. List
2. Set
3. Dictonary

List - should be in [ ] , can have multiple data types, can have duplicate values

In [ ]:
myList = [1,2,3,4,5]
print(myList)
type(myList)

[1, 2, 3, 4, 5]

list

In [ ]:
list1 = [2,4,"Hii",5.8]
print(list1)

#add elements
list1.append("Hello")
print(list1)

#remove elements
list1.remove(2)
print(list1)

[2, 4, 'Hii', 5.8]
[2, 4, 'Hii', 5.8, 'Hello']
[4, 'Hii', 5.8, 'Hello']

In [ ]:
print(list1[2])

5.8

In [ ]:
print(len(list1))

4

In [ ]:
 list1.append("damn")
 print(list1)

 del list1[2]
 print(list1)

[4, 'Hii', 5.8, 'Hello', 'damn']
[4, 'Hii', 'Hello', 'damn']

In [ ]:
list2 = [1,2,3,4]
list3 = [5,"a","b"]

list4 = list2 + list3
print(list4)

[1, 2, 3, 4, 5, 'a', 'b']

**Tuple**, allows multiple data types, ( ) brcakets, immutable

In [ ]:
tuple1 = (1,2,3,4)
print(tuple1)
type(tuple1)

(1, 2, 3, 4)

tuple

In [ ]:
tuple2 = (1,"a","b",2)
print(tuple2)

(1, 'a', 'b', 2)

In [ ]:
#coverting a list to a tuple
list1 = [1,2,3,4]
print(list1)
type(list1)

tuple3 = tuple(list1)
print(tuple3)
type(tuple3)

[1, 2, 3, 4]
(1, 2, 3, 4)

tuple

In [ ]:
print(tuple3[1])

2

Tuple are immutable -> Unchangeable

**Set**, --> Curly Brakets, does  not allow duplicate values

In [ ]:
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [ ]:
#convert a list to a set
list5 =[3,45,2,5]
x = set(list5)
print(x)
type(x)

{5, 2, 3, 45}

set

**Dictonary**, { }, Key value pair, doesn't allow duplicate values

In [ ]:
myDic = { 'name' : 'Advi', 'age': 38, 'city': 'Pune'}
print(myDic)
type(myDic)

{'name': 'Advi', 'age': 38, 'city': 'Pune'}

dict

In [ ]:
print(myDic['name'])
print(myDic['age'])
print(myDic['city'])

Advi
38
Pune